<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="{% static 'AppDjangoGramm/Static.css' %}">
</head>
<body>
  <table>
    <tr>
      <td class="button-cell" onclick="window.location.href='{% url 'index' %}'">DjangoGramm</td>
      {% if request.user.is_authenticated %}
        <td class="button-cell" onclick="window.location.href='{% url 'logout' %}'">Logout</td>
        <td class="button-cell" onclick="window.location.href='{% url 'feed' %}'">Feed</td>
        <td class="button-cell" onclick="window.location.href='{% url 'own-profile' %}'">Your profile</td>
        <td class="button-cell" onclick="window.location.href='{% url 'post' %}'">Create post</td>
      {% else %}
        <td class="button-cell" onclick="window.location.href='{% url 'login' %}'">login</td>
        <td class="button-cell" onclick="window.location.href='{% url 'register' %}'">register</td>
      {% endif %}
    </tr>
  </table>
  {% block content %}
  {% endblock %}
</body>
</html>