<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Feed</title>
</head>
<body>
  <h1>Feed</h1>
  <a href="{% url 'logout' %}">Logout</a>
  <p><a href="{% url 'own-profile' %}">Your profile</a></p>
  <p><a href="{% url 'post' %}">Create post</a></p>
  <p><a href="{% url 'index' %}">Home</a></p>
  <dl >
    {% for post in posts %}
      <dt>{{ post.owner }}</dt>
      {% if post.image %}
        <dd><img width="50%" height="50%" src="{{ post.image.url }}"></dd>
        <dd>{{ post.text}}</dd>
        <dd>{{ post.post_creation_date }}</dd>
        <div style="border-bottom: 1px solid black;"></div>
      {% endif %}
    {% endfor %}
  </dl>
</body>
</html>
