<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Feed</title>
  {% extends 'AppDjangoGramm/base.html' %}
</head>
<body>
  {% block content %}
    <h1>Feed page</h1>
    {% for post in posts %}
    <table>

      <tr>
        <td class="small_td_for_post">
          <img width="80%" src="{{ post.owner.profile.avatar.url }}">
        </td>
        <td class="td_for_post" rowspan="2">
          <img width="80%" src="{{ post.image.url }}">
        </td>
      </tr>
      <tr>
        <td class="small_td_for_post">
          {{ post.owner }}
        </td>
      </tr>
      <tr>
        <td colspan="2" class="td_for_post_text">
          <p>{{ post.text }} - {{ post.creation_date }}</p>
        </td>
      </tr>
    </table>
    {% endfor %}
  {% endblock %}
</body>
</html>
