<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Post form</title>
</head>
<body>
  <!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    {% extends 'AppDjangoGramm/base.html' %}
    {% block content %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Login Form | CodingLab</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'AppDjangoGramm/Static2.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Post Form</span></div>
        <form method="post" action="" enctype="multipart/form-data">
          {% csrf_token %}
          <p>Post text:</p>
          <div class="row">
            {{form.text}}
          </div>
          <p>Post image:</p>
          <div class="row">
            {{ form.image }}
          </div>
          <div class="row button">
            <input type="submit" value="Post">
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
{% endblock %}
</body>
</html>