<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    html {
      background-color: honeydew;
    }

    body {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    h3 {
      font-family: Arial, sans-serif;
      font-size: 24px;
      text-align: center;
      color: #333;
    }
  </style>
</head>
<body>
  <h3>An email has been sent with instructions to verify your email</h3>
</body>
</html>
